{% extends 'AdminBase.html' %}

{% block content %}

<div id="manageUser-table"></div>

{% endblock %}

{% block scripts %}


<script>


var dateEditor = (cell, onClick, success, cancel, editorParams) => {
   var editor = document.createElement("input");
   editor.value = cell.getValue();
   //debugger;
   var datepicker = flatpickr(editor, {
     enableTime: true,
     dateFormat: "Y-m-d",
     onClose: (selectedDates, dateStr, instance) => {
       success(dateStr);
       updateCol(cell);
       instance.destroy();
     },
     onChange: (selectedDates, dateStr, instance) => {
       success(dateStr);
       updateCol(cell)
       instance.destroy();
     },
   });

   onClick(() => {
     editor.focus();
   });

   return editor;
 };

var updateCol = (cell) =>
{
    debugger;
    var row = cell.getRow();
    var rowData = row.getData();
    id = rowData[0];
    username = rowData[1];
    password = rowData[2];
    createDate = rowData[3];
    active = rowData[4];
    dateInactive = rowData[5];
    securityLevel = rowData[6];
    value = id + "," + username + "," + password + "," +  createDate + "," + active + "," + dateInactive + "," +  securityLevel
    URL = "/api/data/manageUser?action=update&value=" + value;
    table.setData(URL);
};


//custom formatter definition
var printIcon = function(cell, formatterParams, onrendered){
    return "<img src=./static/img/printer-16.png>";
};


//Build Tabulator
var table = new Tabulator("#manageUser-table",
{

    ajaxURL: "/api/data/manageUser",
    height:"311px",
    //layout:"fitData",
    layout:"fitColumns",
    selectable:true,
    placeholder:"No Data Set",
    pagination:"local",
    paginationSize:6,
    paginationSizeSelector:[3, 6, 8, 10],
    movableColumns:true,
    paginationCounter:"rows",
    initialSort:[
        {column: "1", dir:"asc"}, //sort by username, ascending

    ],
    columns:[
        {title:"id", field:"0", hozAlign:"center", sorter:"number", visible:false},
        {title:"username", field:"1", hozAlign:"center", sorter:"string", visible:true, editor:true, cellEdited:updateCol, headerFilter:"input", headerFilterPlaceholder:"Find Username ..."},
        {title:"password", field:"2", hozAlign:"center", sorter:"string", editor:false, cellEdited:updateCol, headerFilter:"input", headerFilterPlaceholder:"Find Password ..."},
        {title:"createDate", field:"3", hozAlign:"center", sorter:"date", editor:dateEditor, headerFilter:"input", headerFilterPlaceholder:"Find User Creation Date ..."},
        {title:"active", field:"4", hozAlign:"center", sorter:"number", editor:true, cellEdited:updateCol, headerFilter:"input", headerFilterPlaceholder:"Find Active Users ..."},
        {title:"dateInActive", field:"5", hozAlign:"center", sorter:"date", editor:dateEditor, headerFilter:"input", headerFilterPlaceholder:"Find Date User Inactive ..."},
        {title:"securityLevel", field:"6", hozAlign:"center", sorter:"number", editor:dateEditor, headerFilter:"input", headerFilterPlaceholder:"Find Security Level ..."},
    ],
});

columns: ['', '', '', '', '', '', '', '']


//cellEdited:updateCol,



function printit(cell)
{
    alert("print it");
}



</script>
{% endblock %}
