{% extends 'base.html' %}

{% block content %}
inside block
<h1>List Purchase Orders</h1>

    <!---<table id="table_idx"  class="display">  -->
 <table id="data0" class="table order-list" style="width: 100%"> <!---style="table-layout: fixed ; width: 100%;"  -->
    <thead>
        <tr class="col-sm-3">
            <th>Purchaser</th>
            <th>Purchase Order Number</th>
            <th>Supplier</th>
            <th>Part Number</th>
            <th>Part Description</th>
            <th>Quantity</th>
            <th>Part Price</th>
            <th>Total Cost</th>
        </tr>
    </thead>
   <tbody><div id="data"></div></tbody>
 </table>
{% endblock %}

{% block script %}


{% endblock %}


